<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mathias Yde Studieweb</title>
  <link rel="stylesheet" href="style/tailwind.css">
  <link rel="stylesheet" href="style/light_theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col h-screen font-roboto color-textdark color-offprimary">
  <div id="root" class="h-full">
    <div v-if="assignments != null">
      <navigationbar></navigationbar>

    <div class="flex-1">
      <img src="images/mathias_yde.jpg"
        class="absolute object-cover w-48 transform -translate-x-1/2 translate-y-1/2 rounded-full left-1/2">
      <img src="images/htx_building.jpg" class="object-cover object-center w-full h-48">
    </div>

    <div class="container flex-1 mx-auto my-32 rounded color-pureprimary">
      <main class="flex-1 w-auto h-full p-4 shadow-rl">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, dolorem.

        <p v-for="(item, index) in assignments">
          {{item.title}}
        </p>
      </main>
    </div>
    </div>


    <div v-if="assignments == null" class="h-48 p-8 mx-auto my-48 text-center rounded-lg shadow-lg color-pureprimary w-80">
      <p class="font-bold text-md">Noget gik gruesomt galt!</p>
      <p>Hvis du ser dette, så kontakt mig med det samme.</p>
      <p class="mt-4">Lectio ID: Mathias Ransgaard Yde (Kappa 13)</p>
    </div>
  </div>

  <script src="lib/vue.js"></script>
  <script src="components/navigation_bar.js"></script>
  <script src="components/info_card.js"></script>
  <script>
    let assignments = null;
    try {
      let https = new XMLHttpRequest();
      https.open("GET", "https://raw.githubusercontent.com/MathiasYde/studieweb/master/src/data/assignments.json", false);
      https.send(null);

      assignments = JSON.parse(https.responseText);
    } catch {
      console.log("Could not fetch assignments");
    }

    new Vue({
      el: "#root",
      data: {
        assignments: assignments,
      },
    })
  </script>
</body>

</html>