<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Afleveringer | Mathias Yde</title>
  <link rel="stylesheet" href="style/tailwind.css">
  <link rel="stylesheet" href="style/light_theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col h-screen font-roboto color-textdark color-offprimary">
  <div id="root">
    <div v-if="assignments != null">
      <navigationbar></navigationbar>
      <div class="flex-1">
        <div id="assignments-container" class="container px-4 sm:px-0 grid grid-flow-row grid-cols-1 gap-4 py-4 mx-auto"
          v-bind:class="{'assignments.length == 1': 'grid-cols-1', 'assignments.length > 1': 'sm:grid-cols-2'}">

          <button @click="navigate(assignment['href'])" v-for="(assignment, index) in assignments"
            class="relative h-64 transition-shadow duration-200 rounded color-pureprimary hover:shadow-lg">
            <p class="absolute inset-x-0 top-0 mt-2 text-sm text-gray-500">{{assignment.subject}}</p>

            <p>{{assignment.title}}</p>
            <p class="text-sm text-gray-500">{{assignment.date}}</p>

          </button>
        </div>
      </div>
    </div>

    <div v-if="assignments == null"
      class="h-48 p-8 mx-auto my-48 text-center rounded-lg shadow-lg color-pureprimary w-80">
      <p class="font-bold text-md">Noget gik gruesomt galt!</p>
      <p>Hvis du ser dette, så kontakt mig med det samme.</p>
      <p class="mt-4">Lectio ID: Mathias Ransgaard Yde (Kappa 13)</p>
    </div>
  </div>

  <script src="./lib/vue.js"></script>
  <script src="./components/navigation_bar.js"></script>
  <script>
    let assignments;
    try {
      let https = new XMLHttpRequest();
      https.open("GET", "https://raw.githubusercontent.com/MathiasYde/studieweb/master/src/data/assignments.json", false);
      https.send(null);
      assignments = JSON.parse(https.response);
    } catch {
      assignments = null;
    }

    new Vue({
      el: "#root",
      data: {
        assignments: assignments,
      },
      methods: {
        navigate(url) {
          window.location.href = url;
        }
      }
    });
  </script>
</body>

</html>