<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forside | Mathias Yde</title>
  <link rel="stylesheet" href="style/tailwind.css">
  <link rel="stylesheet" href="style/light_theme.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body class="flex flex-col h-screen font-roboto color-textdark color-offprimary">
  <div id="root" class="h-full">
    <div v-if="assignments != null">
      <navigationbar></navigationbar>

    <div class="flex-1">
      <img src="images/mathias_yde.jpg"
        class="absolute object-cover w-48 transform -translate-x-1/2 translate-y-1/2 rounded-full left-1/2">
      <img src="images/htx_building.jpg" class="object-cover object-center w-full h-48">
    </div>

    <div class="container flex flex-col flex-1 gap-4 px-4 mx-auto my-32">
      <div class="p-4 overflow-hidden rounded color-pureprimary">
        <h1 class="text-xl font-bold text-center">Hej! Velkommen til mit studieweb 🤗</h1>
        <p>Her kan du finde mine opgaver, afleveringer, logbog fra min skolegang på HTX Roskilde.</p>
      </div>
      <div class="p-4 overflow-hidden rounded color-pureprimary">
        <h1 class="text-xl font-bold text-center">Hvem er jeg? 🤔</h1>
        <span>Jeg er en 17 årig dreng der går på HTX Roskilde, med interresse for programmering og kunst.</span>
        <span>På HTX ville jeg tage app og modeller studielinjen, hvor jeg skal lære videre med programming.</span>
        <span>Siden at jeg var lille, havde jeg altid interresse for computere og hvordan de virkede.</span>
        <span>Senere hen blev døren af programmering åbnet for mig og hele mit liv ændrede sig.</span>
        <br><br>
        <p>Nu kunne jeg få computere til at gøre lige dét jeg ville have dem til at gøre.</p>
        <span>Som alle nybegynder programmøre, brugte jeg mine naive evner til at lege med skolens computere.</span>
        <p>Jeg lavede .bat filer der ville genstarte computeren lige så snart den tændte.</p>
        <p>.bat filer der ville skrive en masse tekst i konsollen i lysegrøn tekst på sort baggrund. Rigtig hacker agtigt.</p>
      </div>
    </div>
    </div>


    <div v-if="assignments == null" class="h-48 p-8 mx-auto my-48 text-center rounded-lg shadow-lg color-pureprimary w-80">
      <p class="font-bold text-md">Noget gik gruesomt galt!</p>
      <p>Hvis du ser dette, så kontakt mig med det samme.</p>
      <p class="mt-4">Lectio ID: Mathias Ransgaard Yde (Kappa 13)</p>
    </div>
  </div>

  <script src="lib/vue.js"></script>
  <script src="components/navigation_bar.js"></script>
  <script src="components/info_card.js"></script>
  <script>
    let assignments = null;
    try {
      let https = new XMLHttpRequest();
      https.open("GET", "https://raw.githubusercontent.com/MathiasYde/studieweb/master/src/data/assignments.json", false);
      https.send(null);

      assignments = JSON.parse(https.responseText);
    } catch {
      console.error("Could not fetch assignments");
    }

    new Vue({
      el: "#root",
      data: {
        assignments: assignments,
      },
    })
  </script>
</body>

</html>